@media screen and (max-width: 768px){
    .container_main {
        display: grid;
        grid-template: 100vh 60vh 205vh 60vh 165vh 105vh/100% ;
        grid-template-areas: "header"
                         "aside_start"
                         "container"
                         "aside_end"
                         "image_end"
                          "footer_end";
    }

    .image_end--grid{
        display: grid;
        grid-template: 6vh 53vh 53vh 53vh/auto ;
        grid-template-areas: "text "
                          "three_image1"
                           "three_image2"
                           "three_image3";
    }

    h1 {
        font-size: 37px;
        line-height: 43px;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        color: var(--first-color);
        margin-top: 10vh;
    }
    h6 {
        text-align: center;
        font-size: 20px;
        line-height: 27px;
        padding: 0 12vw;
        font-weight: 400;

    }

    .container__image {
        grid-area: container;
        display: grid;
        grid-template: 35vh 65vh 70vh 35vh/100% 100% 100% 100%;
        grid-template-areas: "pic1"
                             "pic2"
                             "pic3"
                             "pic4";
        row-gap: 1vh;
    }

    .image__big {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    h5 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 5px;
    }
    .image__small {
        width: 100%;
        height: 80%;
    }
    .h6--part1--aside_end{
        color: var(--first-color);
        margin-top: 20vh;
        margin-bottom: 5vh;

    }

    /*############################################ footer ###############################################*/

    .footer_end--grid {
        display: grid;
        grid-template: 55vh 45vh 5vh/auto;
        grid-template-areas:"input--footer"
                             "image--footer"
                              "copy--footer";
    }

    .footer_end {
        width: 100%;
        height: 100%;
        grid-area: footer_end;
        /*background-color: #ed3b2e;*/
        background-image: url(../Image/comp6-footer-bg.png), url(../Image/comp6-patternbg.png);
        background-position: initial ;
        background-repeat: no-repeat, repeat;
        background-size: auto;
        padding: 0;
        margin: 0;
    }

    .input--footer {
        grid-area: input--footer;
        /*background-color: palevioletred;*/
        padding-right: 0;
        padding-left: 7.5vw;
        padding-top: 10vh;
    }

    h3 {
        font-size: 26px;
        line-height: 35px;
        font-weight: 700;
        letter-spacing: 1px;
        color: var(--second-color);
    }

    .text2_footer {
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--second-color);
        text-align: left;
        padding-top: 5vh;

    }

    .input--footer--style {
        border: 0;
        outline: none;
        background: transparent;
        font-size: 15px;
        font-family: 'Comfortaa', sans-serif;
        color: var(--second-color);
        border-bottom: 1px solid var(--second-color);
        width: 78vw;
        padding-bottom: 0.6rem;

    }

    input[type=text]:focus {
        font-size: 15px;
        color: gray;
        width: 78vw;
    }

    .input--footer--button {
        width: 78vw;
        height: 5vh;
        border: 0;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: var(--first-color);
        font-size: 13px;
        color: var(--second-color);
        font-family: 'Comfortaa', sans-serif;
        position: absolute;
        margin-top: 8vh;
        cursor: pointer;
    }

    .footer--input--button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
        padding-top: 2vh;
        margin-left: -12vw;
    }

    .image--footer_position {
        padding-top: 5vh;
        padding-left: 8vw;
    }


    .input--footer {
        grid-area: input--footer;
        /*background-color: palevioletred;*/
        padding-right: 0;
        padding-left: 12vw;
        padding-top: 11vh;
    }

    .icon_footer_svg {
        width: 18px;
        height: 18px;

    }

    .wpcf7 form, .wpcf7-response-output-no {
        border: none;
        float: left;
        margin: 8vh 0vh 0.5em -1.5em;
        padding: 0.2em 1em;
        color: var(--third--color);
        font-size: 15px;

    }

    .wpcf7 form, .wpcf7-response-output-yes {
        border: none;
        float: left;
        margin: 8vh 0vh 0.5em -1.5em;
        padding: 0.2em 1em;
        color: var(--third--color);
        font-size: 15px;
        display: none;
    }

    body:not(.cf7p-message) .wpcf7-not-valid-tip {
        position: absolute !important;
        left: 19px !important;
        top: -13px !important;
        width: 44px !important;
        height: 44px !important;
        padding: 0 !important;
        background-color: #ed3b2e;
        text-indent: -9999px !important;
        padding: 0;
        border: none !important;
    }

    .wpcf7-not-valid-tip {
        color: #dc3232;
        display: block;
        margin-top: 2.5vh;

    }

    body:not(.cf7p-message) .wpcf7-not-valid-tip:before {
        content: '';
        position: absolute;
        right: -5px;
        top: 16px;
        background-color: #ed3b2e;
        width: 11px;
        height: 11px;
        transform: rotate(45deg);
    }

    .copy--footer {
        margin-top: -5vh;
        padding: 0 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright {

        font-size: 13px;
        color: var(--second-color);
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: center;
        margin-bottom: 2vh;

    }

}