/*######################################### Footer ##################################################*/

body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

:root {
    --first-color: #c9916b;
    --second-color: #ffffff;
    --third--color: #d6dad8;
}

.footer_end {
    width: 100%;
    height: 100%;
    grid-area: footer_end;
    /*background-color: #ed3b2e;*/
    background-image: url(../Image/comp6-footer-bg.png), url(../Image/comp6-patternbg.png);
    background-position: left center;
    background-repeat: no-repeat, repeat;
    background-size: auto;
    padding: 0;
    margin: 0;
}

.footer_end--grid {
    display: grid;
    grid-template: 75vh 10vh/60% auto;
    grid-template-areas:"input--footer image--footer"
                         "copy--footer  copy--footer";
}

.input--footer {
    grid-area: input--footer;
    /*background-color: palevioletred;*/
    padding-right: 0;
    padding-left: 17vw;
    padding-top: 11vh;
}

h3 {
    font-size: 35px;
    line-height: 47px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--second-color);
}

.text2_footer {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--second-color);
    text-align: left;
    padding-top: 3vh;

}

.input--footer--style {
    border: 0;
    outline: none;
    background: transparent;
    font-size: 15px;
    font-family: 'Comfortaa', sans-serif;
    color: var(--second-color);
    border-bottom: 1px solid var(--second-color);
    width: 27vw;
    padding-bottom: 0.6rem;
}

input[type=text]:focus {
    font-size: 15px;
    color: gray;
    width: 25vw;
}


body:not(.cf7p-message) .wpcf7-not-valid-tip {
    position: absolute !important;
    left: -50px !important;
    top: 0 !important;
    width: 44px !important;
    height: 44px !important;
    padding: 0 !important;
    background-color: #ed3b2e;
    text-indent: -9999px !important;
    padding: 0;
    border: none !important;
    display: none;
}

.wpcf7-not-valid-tip {
    color: #dc3232;
    display: block;
    margin-top: 2.5vh;
}

body:not(.cf7p-message) .wpcf7-not-valid-tip:after {
    content: ' \2573';
    font-family: "mfn-icons";
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 20px;
    color: #fff;
    text-indent: 0;
}

body:not(.cf7p-message) .wpcf7-not-valid-tip:before {
    content: '';
    position: absolute;
    right: -5px;
    top: 16px;
    background-color: #ed3b2e;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
}

*, *::before, *::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

.wpcf7 form, .wpcf7-response-output-no {
    border: none;
    float: left;
    margin: 4vh 0vh 0.5em -1.5em;
    padding: 0.2em 1em;
    color: var(--third--color);
    font-size: 17px;
    display: none;

}

.wpcf7 form, .wpcf7-response-output-yes {
    border: none;
    float: left;
    margin: 4vh 0vh 0.5em -1.5em;
    padding: 0.2em 1em;
    color: var(--third--color);
    font-size: 17px;
    display: none;
}


.ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-color: #23282d;
    opacity: 0.75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    position: relative;
}

.ajax-loader:before {
    content: '';
    position: absolute;
    background-color: #fbfbfc;
    top: 2vh;
    left: 4px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    transform-origin: 8px 8px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/**, ::before, ::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}*/
.ajax-loader {
    visibility: hidden;
}


.input--footer--button {
    width: 7vw;
    height: 5vh;
    border: 0;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: var(--first-color);
    font-size: 17px;
    color: var(--second-color);
    font-family: 'Comfortaa', sans-serif;
    position: absolute;
    margin: -1vh 1vw;
    cursor: pointer;
}

.footer--input--button {
    position: relative;
    align-items: center;
    padding-top: 2vh;
}

.image--footer {
    grid-area: image--footer;
    /*background-color: yellow;*/
}

.image--footer_position {
    padding-top: 17vh;
    padding-left: 3vw;
}

.copy--footer {
    grid-area: copy--footer;
    /* background-color: darksalmon;*/
}

.copyright {

    font-size: 17px;
    color: var(--second-color);
    font-weight: 400;
    letter-spacing: 0.5px;
}

.copyright:before {
    content: ' \00A9';
}

.copy--footer {
    margin-top: 3.5vh;
    padding: 0 18vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

g:hover {
    fill: var(--first-color);
}

.icon_footer_svg {
    width: 22px;
    height: 22px;

}

.underline {
    text-decoration: underline;
    color: var(--first-color);
}

/*######################################## Ipad #####################################*/
/* *******************footer******************/
@media screen and (max-width: 1239px){
    .footer_end {
        width: 100%;
        height: 100%;
        grid-area: footer_end;
        /*background-color: #ed3b2e;*/
        background-image: url(../Image/comp6-footer-bg.png), url(../Image/background.png);
        background-position: left center;
        background-repeat: no-repeat, repeat;
        background-size: auto;
        padding: 0;
        margin: 0;
    }

    .footer_end--grid {
        display: grid;
        grid-template: 55vh 5vh/60% auto;
        grid-template-areas:"input--footer image--footer"
                         "copy--footer  copy--footer";
    }

    .input--footer {
        grid-area: input--footer;
        /*background-color: palevioletred;*/
        padding-right: 0;
        padding-left: 7.5vw;
        padding-top: 10vh;
    }

    h3 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: 1px;
        color: var(--second-color);
    }

    .text2_footer {
        font-size: 22px;
        line-height: 31px;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--second-color);
        text-align: left;
        padding-top: 3vh;

    }

    .input--footer--style {
        border: 0;
        outline: none;
        background: transparent;
        font-size: 15px;
        font-family: 'Comfortaa', sans-serif;
        color: var(--second-color);
        border-bottom: 1px solid var(--second-color);
        width: 25vw;
        padding-bottom: 0.6rem;
    }

    input[type=text]:focus {
        font-size: 15px;
        color: gray;
        width: 25vw;
    }

    .image--footer_position {
        padding-top: 12vh;
        padding-left: 8vw;
    }

    .input--footer--button {
        width: 10vw;
        height: 3vh;
        border: 0;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: var(--first-color);
        font-size: 13px;
        color: var(--second-color);
        font-family: 'Comfortaa', sans-serif;
        position: absolute;
        margin: 0vh 1vw;
        cursor: pointer;
    }

    .image_icon_svg {

        background-color: rgba(201, 145, 107, 0.7);
        display: inline-block;
        margin-left: -5px;
        padding: 15px 15px;
        /*  color:  var(--wrapper-background);*/
        width: 7vw;
        height: 5vh;
        font-size: small;

    }

    .icon_footer_svg {
        width: 18px;
        height: 18px;

    }

    .wpcf7 form, .wpcf7-response-output-no {
        border: none;
        float: left;
        margin: 2vh 0vh 0.5em -1.5em;
        padding: 0.2em 1em;
        color: var(--third--color);
        font-size: 13px;
        font-weight: bold;

    }

    .wpcf7 form, .wpcf7-response-output-yes {
        border: none;
        float: left;
        margin: 2vh 0vh 0.5em -1.5em;
        padding: 0.2em 1em;
        color: var(--third--color);
        font-size: 13px;
        display: none;
        font-weight: bold;
    }

    .copyright {
        font-size: 13px;
        color: var(--second-color);
        font-weight: 400;
        letter-spacing: 0.5px;

    }

    .copy--footer {
        margin-top: -2px;
        padding: 0 7vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


}

/*################################################# phone ###################################*/
@media screen and (max-width: 768px){
    .footer_end--grid {
        display: grid;
        grid-template: 55vh 45vh 5vh/auto;
        grid-template-areas:"input--footer"
                            "image--footer"
                             "copy--footer";
    }

    .footer_end {
        width: 100%;
        height: 100%;
        grid-area: footer_end;
        /*background-color: #ed3b2e;*/
        background-image: url(../Image/comp6-footer-bg.png), url(../Image/comp6-patternbg.png);
        background-position: initial ;
        background-repeat: no-repeat, repeat;
        background-size: auto;
        padding: 0;
        margin: 0;
    }

    .input--footer {
        grid-area: input--footer;
        /*background-color: palevioletred;*/
        padding-right: 0;
        padding-left: 7.5vw;
        padding-top: 10vh;
    }

    h3 {
        font-size: 26px;
        line-height: 35px;
        font-weight: 700;
        letter-spacing: 1px;
        color: var(--second-color);
    }

    .text2_footer {
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--second-color);
        text-align: left;
        padding-top: 5vh;

    }

    .input--footer--style {
        border: 0;
        outline: none;
        background: transparent;
        font-size: 15px;
        font-family: 'Comfortaa', sans-serif;
        color: var(--second-color);
        border-bottom: 1px solid var(--second-color);
        width: 78vw;
        padding-bottom: 0.6rem;

    }

    input[type=text]:focus {
        font-size: 15px;
        color: gray;
        width: 78vw;
    }

    .input--footer--button {
        width: 78vw;
        height: 5vh;
        border: 0;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: var(--first-color);
        font-size: 13px;
        color: var(--second-color);
        font-family: 'Comfortaa', sans-serif;
        position: absolute;
        margin-top: 8vh;
        cursor: pointer;
    }

    .footer--input--button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
        padding-top: 2vh;
        margin-left: -12vw;
    }

    .image--footer_position {
        padding-top: 5vh;
        padding-left: 8vw;
    }


    .input--footer {
        grid-area: input--footer;
        /*background-color: palevioletred;*/
        padding-right: 0;
        padding-left: 12vw;
        padding-top: 11vh;
    }

    .icon_footer_svg {
        width: 18px;
        height: 18px;

    }

    .wpcf7 form, .wpcf7-response-output-no {
        border: none;
        float: left;
        margin: 8vh 0vh 0.5em -1.5em;
        padding: 0.2em 1em;
        color: var(--third--color);
        font-size: 15px;

    }

    .wpcf7 form, .wpcf7-response-output-yes {
        border: none;
        float: left;
        margin: 8vh 0vh 0.5em -1.5em;
        padding: 0.2em 1em;
        color: var(--third--color);
        font-size: 15px;
        display: none;
    }

    body:not(.cf7p-message) .wpcf7-not-valid-tip {
        position: absolute !important;
        left: 19px !important;
        top: -13px !important;
        width: 44px !important;
        height: 44px !important;
        padding: 0 !important;
        background-color: #ed3b2e;
        text-indent: -9999px !important;
        padding: 0;
        border: none !important;
    }

    .wpcf7-not-valid-tip {
        color: #dc3232;
        display: block;
        margin-top: 2.5vh;

    }

    body:not(.cf7p-message) .wpcf7-not-valid-tip:before {
        content: '';
        position: absolute;
        right: -5px;
        top: 16px;
        background-color: #ed3b2e;
        width: 11px;
        height: 11px;
        transform: rotate(45deg);
    }

    .copy--footer {
        margin-top: -5vh;
        padding: 0 7vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright {

        font-size: 13px;
        color: var(--second-color);
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: center;
        margin-bottom: 2vh;

    }
}