:root {
    --first-color: #c9916b;
    --second-color:#ffffff;
    --third--color:#d6dad8;
    --background-color:#2d453b;
}
@media screen and (min-width: 768px){

    body {
        width: 100vw;
        height: 100vh;
        margin: auto;
        font-family: 'Comfortaa', cursive;

        /*line-height: 3vh;*/
    }

    h4 {
        margin-top: 0;
    }

    .header {
        width: 100vw;
        /*height: 45vh;*/
        height: 60vh;
        display: flex;
        flex-direction: row;
        background-image: url(Image/backgroundshape.png), url(Image/background.png);
        background-position: top;
        background-size: 35vw 35vh, cover;
        background-repeat: no-repeat;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 5vw;

    }

    .header__imageholder {
        display: flex;
        width: 65vw;
        /*height: 45vh;*/
        height: 60vh;
        justify-content: right;
        align-self: end;
        margin-left: -20vw;
        overflow: hidden;
    }

    .header__imageholder__image {
        width: 100%;
        margin-right: -5vw;
        margin-top: 0;
    }

    .header__text {
        align-self: center;
        color: var(--first-color);
        font-size: 5.5vw;
        font-weight: bolder;
        width: 60vw;
        line-height: 4.3vh;
        /*margin-right: -100px;*/
    }

    .header__buttonHolder__button {
        font-size: 1.5vw;
        color: var(--second-color);
        padding: 10px 17px;
        border-color: var(--second-color);
        border-style: solid;
        border-radius: 25px;
        border-width: 2px;
    }

    .header__buttonHolder {
        margin-top: 2.7vh;
    }


    .secondpart__image {
        /*height: 100vh;*/
        /*width: 100vw;*/
        height: 100%;
        width: 100%;
    }

    .secondpart__circledtextHolder {
        display: flex;
        justify-content: center;
    }

    .secondpart__circledtextHolder__image {
        /*width: 70vw;*/
        width: 100%;
        margin-top: -20vh;
    }

    /*----------------my codes-----------------------*/
    .secondpart{
        /*display: none !important;*/
        /*visibility: hidden !important;*/
    }
    .secondPart-grid{
        display: grid;
        grid-template: 45rem 20rem 30rem 4rem 20rem / 50vw 50vw;
        grid-template-areas: "walls about-us"
                             "what-can blank"
                             "icons icons"
                             "caseStudy-bar caseStudy-bar"
                             "slider slider";
    }

    .walls{
        grid-area: walls;
    }

    .about-us{
        grid-area: about-us;
        padding: 5vh 8vw;
        background-color: #faf8f7;
    }

    .what-can{
        grid-area: what-can;
        margin-top: 5vh;
        margin-left: 7vw;
    }

    .icons{
        grid-area: icons;
        display: flex;
        justify-content: space-between;
        padding: 0 7vw;
    }

    .caseStudy-bar{
        grid-area: caseStudy-bar;
        background-color: #faf8f7;
        /*height: 7vh;*/
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2vw;
    }

    .slider{
        grid-area: slider;
        background-color: dodgerblue;
    }

    /*----------------my codes-----------------------*/

    .secondpart--margin {
        margin: 5vh 8vw;
    }

    .secondpart__text {
        font-size: 18px;
        line-height: 3vh;
        font-weight: bolder;
    }

    .secondpart__title {
        margin-top: 70px;
        font-size: 1rem;
        color: gray;
        font-weight: lighter;
    }

    .secondpart__button {
        font-size: 1rem;
        color: var(--second-color);
        padding: 1.7vw 3vh;
        border-radius: 44vw;
        font-weight: bold;
        background-color: var(--first-color);
    }

    .learnMore-button{
        margin-top: 5vh;
    }

    .secondpart__4Image {
        margin-top: 0;
    }

    .secondpart__4Image img{
        width: 18vw;
    }

    .secondpart__4Image div {
        margin-top: 4vh;
        font-size: 3vw;
    }

    .secondpart__4Image p {
        color: var(--first-color);
        font-weight: bold;
        font-size: 15px;
    }

    .secondpart__4Image span {
        display: inline-block;
        margin-top: 1vh;
        font-size: 3vw;
    }

    /*my codes---------------------------------------*/
    .belowSlider-grid{
        display: grid;
        grid-template: 4rem 47rem / 50vw 50vw;
        grid-template-areas: "seeMore-bar seeMore-bar"
                             "people-img below-text";
    }

    .seeMore-bar{
        grid-area: seeMore-bar;
    }
    .people-img{
        grid-area: people-img;
    }
    .below-text{
        grid-area: below-text;
    }
    /*my codes---------------------------------------*/

    .belowSlider__seperator{
        background-color: var(--first-color);
        color: var(--second-color);
        /*padding-bottom: 2vh;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        text-align: center;
        font-size: 2vw;
    }

    .belowSlider__seperator span{
        padding-bottom: 1vh;
    }

    .belowSlider__imageHolder{
        /*!*height: 50rem;*!*/
        /*!* height: 35rem; *!*/
        /*width: 50vw;*/
        background: url("Image/peopleatTable.jpg");
        background-size: 50vw 47rem , cover;
        background-repeat: no-repeat;
    }
    .belowSlider img {
        /*!* height: 50vh; *!*/
        /*width: 100%;*/
        /*height: 47rem;*/
    }
    .belowSlider__text{
        height: 40.25rem;
        /* height: 100%; */
        /*padding: 13vh 8vw 0 8vw;*/
        background-color: var(--background-color);
        background-size: 50vw 47rem;
        color: var(--second-color);
        font-size: 3vw;
        line-height: 4vh;
        font-weight: bold;

    }
    .belowSlider p {
        font-weight: normal;
        font-size: 2vw;

    }

    .belowSlider-textContainer{
        margin: 10vh 1vw;
    }


}